Source: dayjournal
Section: misc
Priority: extra
Maintainer: Zach Burnham <thejambi@gmail.com>
Build-Depends: debhelper, autotools-dev, 
 libgee-0.8-dev,
 libgdk-pixbuf2.0-dev (>= 2.26.1),
 libglib2.0-dev (>= 2.32.1),
 libgtk-3-dev (>= 3.4.1),
 libnotify-dev (>= 0.7.5),
 libappindicator3-dev (>= 0.4.92),
 valac,
 cmake (>= 2.8.7)
Standards-Version: 3.9.2
Homepage: http://burnsoftware.wordpress.com/dayjournal
#Vcs-Git: git://git.debian.org/collab-maint/dayjournal.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dayjournal.git;a=summary

Package: dayjournal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Like typing on paper
 DayJournal is a minimalistic digital journal that lets the content you create outlast DayJournal itself.
 - Future proofs your journal entries by saving them as plain text and organizing them as you go. This means you can read or create entries when you don't have DayJournal.
 - Automatically saves as you write.
 - Easily sync journals with Ubuntu One or Dropbox because you choose where your journal folder is.
 - Manage multiple journals.
 - Keyboard shortcuts make it easy to navigate through entries.
 - Menus are designed to work with Ubuntu's HUD.
 - Simply put, DayJournal is the simple digital journal that finally does it right.
